**Exercise 2.1 - Getting started with Python**

In [ ]:
icecream_r = 9
sleeping_e = 8
char_s = "Dave"

happiness_r = (icecream_r + sleeping_e)/2
happiness_rate= (happiness_r/10)*100

print(type(icecream_r))
print(type(sleeping_e))
print(type(char_s))
print(type(happiness_r))

print("My name is", char_s,  "and I give eating ice cream a score of", icecream_r, "out of 10!")
print("My sleeping enjoyment rating is", sleeping_e, "/ 10!")
print("Based on the factors above, my happiness rating is", happiness_r, "out of 10 or",happiness_rate, "%!")

<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
My name is Dave and I give eating ice cream a score of 9 out of 10!
My sleeping enjoyment rating is 8 / 10!
Based on the factors above, my happiness rating is 8.5 out of 10 or 85.0 %!

**Exercise 2.2 - Creating and changing lists**

In [ ]:
station_name= ["lighthouse","Harmaja","Suomenlinna_aaltopoiju","Kumpula","Kaisaniemi","Malmi airfield","Vuosaari harbour","Kaivopuisto"]
operation = [2003,1989,2016,2005,1844,1937,2012,1904]

station_name.sort()
print(station_name)
operation.sort()
operation.reverse()
print(operation)

['Harmaja', 'Kaisaniemi', 'Kaivopuisto', 'Kumpula', 'Malmi airfield', 'Suomenlinna_aaltopoiju', 'Vuosaari harbour', 'lighthouse']
[2016, 2012, 2005, 2003, 1989, 1937, 1904, 1844]

**Exercise 2.3 - Lists and index values**

In [ ]:
month= ["January","February","March","April","May","June","July","August","September","October","November","December"]
temp= [-3.5,-4.5,-1.0,4.0,10.0,15.0,18.0,16.0,11.5,6.0,2.0,-1.5]

i= 0
while i<len(month):
  print("The average temperature in Helsinki in", month[i], "is", temp[i])
  i=i+1

The average temperature in Helsinki in January is -3.5
The average temperature in Helsinki in February is -4.5
The average temperature in Helsinki in March is -1.0
The average temperature in Helsinki in April is 4.0
The average temperature in Helsinki in May is 10.0
The average temperature in Helsinki in June is 15.0
The average temperature in Helsinki in July is 18.0
The average temperature in Helsinki in August is 16.0
The average temperature in Helsinki in September is 11.5
The average temperature in Helsinki in October is 6.0
The average temperature in Helsinki in November is 2.0
The average temperature in Helsinki in December is -1.5

**Exercise 2.4 - Batch processing files with a for loop**

In [ ]:
temperatures = [-5.4, 1.0, -1.3, -4.8, 3.9, 0.1, -4.4, 4.0, -2.2, -3.9, 4.4,
                -2.5, -4.6, 5.1, 2.1, -2.4, 1.9, -3.3, -4.8, 1.0, -0.8, -2.8,
                -0.1, -4.7, -5.6, 2.6, -2.7, -4.6, 3.4, -0.4, -0.9, 3.1, 2.4,
                1.6, 4.2, 3.5, 2.6, 3.1, 2.2, 1.8, 3.3, 1.6, 1.5, 4.7, 4.0,
                3.6, 4.9, 4.8, 5.3, 5.6, 4.1, 3.7, 7.6, 6.9, 5.1, 6.4, 3.8,
                4.0, 8.6, 4.1, 1.4, 8.9, 3.0, 1.6, 8.5, 4.7, 6.6, 8.1, 4.5,
                4.8, 11.3, 4.7, 5.2, 11.5, 6.2, 2.9, 4.3, 2.8, 2.8, 6.3, 2.6,
                -0.0, 7.3, 3.4, 4.7, 9.3, 6.4, 5.4, 7.6, 5.2]
cold=[]
slippery=[]
comfortable=[]
warm=[]

for i in temperatures:
  if i<-2:
    cold.append(i)
  elif i>=-2 and i<2:
    slippery.append(i)
  elif i>=2 and i<15:
    comfortable.append(i)
  else:
    warm.append(i)

print(len(cold))
print(len(slippery))
print(len(comfortable))
print(len(warm))

print(cold)
print(slippery)
print(comfortable)
print(warm)

15
16
59
0
[-5.4, -4.8, -4.4, -2.2, -3.9, -2.5, -4.6, -2.4, -3.3, -4.8, -2.8, -4.7, -5.6, -2.7, -4.6]
[1.0, -1.3, 0.1, 1.9, 1.0, -0.8, -0.1, -0.4, -0.9, 1.6, 1.8, 1.6, 1.5, 1.4, 1.6, -0.0]
[3.9, 4.0, 4.4, 5.1, 2.1, 2.6, 3.4, 3.1, 2.4, 4.2, 3.5, 2.6, 3.1, 2.2, 3.3, 4.7, 4.0, 3.6, 4.9, 4.8, 5.3, 5.6, 4.1, 3.7, 7.6, 6.9, 5.1, 6.4, 3.8, 4.0, 8.6, 4.1, 8.9, 3.0, 8.5, 4.7, 6.6, 8.1, 4.5, 4.8, 11.3, 4.7, 5.2, 11.5, 6.2, 2.9, 4.3, 2.8, 2.8, 6.3, 2.6, 7.3, 3.4, 4.7, 9.3, 6.4, 5.4, 7.6, 5.2]
[]

**Exercise 2.6 - A temperature conversion function**

In [ ]:
def fahrenheit_to_celsius(temp):
  new_temp= (temp-32)*5/9
  print(temp, "F is equal to", new_temp,"C")

fahrenheit_to_celsius(32)
fahrenheit_to_celsius(68)
fahrenheit_to_celsius(91)
fahrenheit_to_celsius(-17)

32 F is equal to 0.0 C
68 F is equal to 20.0 C
91 F is equal to 32.77777777777778 C
-17 F is equal to -27.22222222222222 C

**Exercise 2.7 - A temperature classifier function**

In [ ]:
def fahrenheit_to_celsius(temp):
  category = ["cold", "slippery", "comfortable", "warm"]  
  if temp<-2:
    print(category[0])
  elif temp>=-2 and temp<2:
    print(category[1])
  elif temp>=2 and temp<15:
    print(category[2])
  elif temp>2:
    print(category[3])
  #print(temp, "F is equal to", new_temp,"C")

fahrenheit_to_celsius(17)
fahrenheit_to_celsius(2)
fahrenheit_to_celsius(1.9)
fahrenheit_to_celsius(-2)

warm
comfortable
slippery
slippery